<h2><u>Add Doctor</u></h2>

<form action="/doctor" method="post">
  <div class="form-group">
    <label for="doctor_name">Enter Doctor's name: </label>
    <input type="text" name="doctor_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="specialty">Doctor Specialty: </label>
    <input type="text" name="specialty" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<br>
<button class="btn btn-danger" href="/" id="small-button">Back</button>
<br>
<br>

<h3> <a href="<%= @doctor_name %>"><%= @doctor_name %></a> <%= @doctor_name %></h3>
