<div id="welcome">
  <h1><center>Welcome</center></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <form action="/returning-doctor" method="get">
      <div id="select">
        <button type="submit" class="btn btn-success" id="big-button"><h2>Returning Doctor</h2></button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <form action="/returning-patient" method="get">
      <div id="select">
        <button type="submit" class="btn btn-primary" id="big-button"><h2>Returning Patient</h2></button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form action="/new-doctor" method="get">
      <div id="select">
        <button type="submit" class="btn btn-success" id="big-button"><h2>New Doctor</h2></button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <form action="/new-patient" method="get">
      <div id="select">
        <button type="submit" class="btn btn-primary" id="big-button"><h2>New Patient</h2></button>
      </div>
    </form>
  </div>
</div>
