<h2><u>Add Doctor</u></h2>

<form action="/new-doctor" method="post">
  <div class="form-group">
    <label for="doctor_name">Enter Doctor's name: </label>
    <input type="text" name="doctor_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="specialty">Doctor Specialty: </label>
    <input type="text" name="specialty" class="form-control">
  </div>
  <button type="submit" class="btn btn-info" id="small-button">Add</button>
</form>

<br>
<a href="/" class="btn btn-danger">Back</a>
<br>

<h3> <a href="doctor/<%= @doctor_name %>"><%= @doctor_name %></a> </h3>
