<div id="welcome">
  <h1><center>Welcome</center></h1>
</div>

<div class="row" id="select">
  <div class="col-md-6">
    <form action="/doctor" method="get">
      <button type="submit" class="btn btn-success"><h2>New Doctor</h2></button>
    </form>
  </div>

  <div class="col-md-6">
    <form action="/patient" method="get">
      <button type="submit" class="btn btn-primary"><h2>New Patient</h2></button>
    </form>
  </div>
</div>
