
<h2>Add a task to your to do list</h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="description">Enter the task description</label>
    <input type="text" name="description">
  </div>
  <div class="form-group">
    <label for="due_date">Enter the date the task is due</label>
    <input type="text" name="due_date">
  </div>
  <button type="submit" class="btn btn-info">Add Task!</button>
</form>

<h1>Tasks</h1>
